﻿
.ModalPopupBG
{
	background-color: #666699;
	filter: alpha(opacity=50);
	opacity: 0.7;
	z-index: 9999;
}

.popup_Container
{
	
	
	padding: 0px 0px 0px 0px; /*background-image: url(../images/bg.gif);*/

}

.popupConfirmation
{
	width: auto;
	height: auto; /*width: 700px; 	height: 500px;*/
}

.popup_Titlebar
{
	background: url(/images/titlebar_bg.jpg);
	height: 29px;
}

.popup_Body
{
	padding: 15px 15px 15px 15px;
	font-family: Arial;
	font-weight: bold;
	font-size: 12px;
	color: #000000;
	line-height: 15pt;
	clear: both;
	padding: 20px;
}

.TitlebarLeft
{
	float: left;
	padding-left: 5px;
	padding-top: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #FFFFFF;
}
.TitlebarRight
{
	background: url(Images/cross_icon_normal.png);
	background-position: right;
	background-repeat: no-repeat;
	height: 15px;
	width: 16px;
	float: right;
	cursor: pointer;
	margin-right: 5px;
	margin-top: 5px;
}

.popup_Buttons
{
	margin: 10px;
}
