

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video
{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    border: 0px;
    outline: 0px;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

del
{
    text-decoration: line-through;
}
hr
{
    display: block;
    height: 1px;
    border: 0px;
    border-top: 1px solid #ccc;
    margin: 1em 0px;
    padding: 0px;
}
small
{
    font-size: 85%;
}
strong, th
{
    font-weight: bold;
}
td, td img
{
    vertical-align: middle;
}

body
{
    margin: 0px;
    padding: 0px;
    color: #8d8d8d;
    font-size: 13px;
    background: #fafafa;
    font-weight: normal;
    word-wrap: break-word;
    font-family: 'Lato' , sans-serif;
}

h1
{
    font-size: 30px;
    color: #333333;
    font-weight: normal;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
}
h1.page-title
{
    font-size: 30px;
    color: #333333;
    font-weight: normal;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    padding: 40px 0px;
    border-bottom: 1px solid #eee;
    margin: 0px 0px 40px 0px;font-weight:bold;
}
h2
{
    font-size: 25px;
    color: #1c1c1b;
    font-weight: normal;
}
h3
{
    font-size: 22px;
    color: #333;
    font-weight: 200;
}
h4
{
    font-size: 16px;
    color: #333333;
    font-weight: normal;
    margin: 0px 0px 20px 0px;
}
h5
{
    font-size: 15px;
    color: #1c1c1b;
    font-weight: normal;
    line-height: 15px;
    text-transform: uppercase;
}
h6
{
    font-size: 12px;
}
p
{
    line-height: 20px;
    margin: 0px 0px 15px 0px;
}

a
{
    margin: 0px;
    padding: 0px;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    outline: 0 none;
    text-decoration: none;
    color: #2ac4ea;
}
a, a:hover, a:active
{
    outline: 0 none;
}

::-moz-selection
{
    background: #000;
    color: #fff;
    text-shadow: none;
}
::selection
{
    background: #000;
    color: #fff;
    text-shadow: none;
}

table
{
    border-collapse: collapse;
}
table th
{
    font-size: 18px;
    font-weight: normal;
    margin: 0px;
    padding: 5px;
    border: 1px solid #dcdcdc;
}
table td
{
    border-collapse: collapse;
    padding: 10px;
    border: 1px solid #dcdcdc;
}

/*----commom-----*/
div.container
{
    width: 100%;
    float: left;
}
div.wrapper
{
    width: 100%;
    margin: 0;
}
a.large-btn
{
    float: right;
    width: auto;
    height: auto;
    padding:8px 10px;
    color: #444;
    font-family: 'Lato' , sans-serif;
    border: none;
    background: #c0cf2f;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
}
a.large-btn:hover
{
    background: #b7c629;
}
h3.inner-title
{
    float: left;
    width: 94%;
    margin: 0% 3%;
    font-weight: bold;
    font-size: 18px;
}

select.dropdown-list
{
    border: 1px solid #111;
    background: transparent;
    width: 150px;
    padding: 5px;
    font-size: 12px;
    border: 1px solid #ccc;
    height: 29px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../images/dropdown.png) 92%/15% no-repeat #f1f1f1;
    cursor: pointer;
}
select.dropdown-list option
{
    font-size: 12px;
    padding: 5px 7px;
}

/*----header-----*/
div.header
{
    width: 100%;
    height: 80px;
    float: left;
    background: #fff;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 3px 6px -6px #727272;
    -moz-box-shadow: 0px 3px 6px -6px #727272;
    -webkit-box-shadow: 0px 3px 6px -6px #727272;
    z-index: 99;position: fixed;
}
div.header div.wrapper
{
    height: 50px;
    padding: 15px 0px;
    display: block;
}
a.logo
{
    padding: 0px 0px 0px 80px;
    float: left;
}
a.logo img
{
    width: 100px;
    height: 64px;
}
div.right-menu
{
    float: right;margin-right:40px;
}
div.right-menu a
{
    display: inline-block;
}
div.right-menu p.welcome-msg
{
    float: left;
    padding: 18px 0px 0px 0px;
    margin: 0;
}
a.logout
{
    height: 35px;
    padding: 12px 40px;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}


/*----form-----*/
div.login-form
{
    position: absolute;
    left: 50%;
    margin-left: -250px;
    top: 100px;
    width: 500px;
    height: auto;
    background: #fff;
    box-shadow: 0px 3px 4px -1px #727272;
    -moz-box-shadow: 0px 3px 4px -1px #727272;
    -webkit-box-shadow: 0px 3px 4px -1px #727272;
}
div.login-form h3.login-title
{
    float: left;
    width: 100%;
    background: #00afab;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    text-align: center;
    padding: 10px 0px;
}

div.login-form ul.form
{
    float: left;
    width: 90%;
    min-height: 200px;
    padding: 10px 0px 10px 10%;
}
div.login-form ul.form li
{
    display: inline-block;
    float: left;
    width: 90%;
    margin-bottom: 2px;
}
div.login-form ul.form li label
{
    float: left;
    width: 100%;
    padding: 5px 0px;
    font-size: 16px;
    text-align: left;
    color: #444;
    margin: 10px 0px 0px 0px;
}
div.login-form ul.form li input.text
{
    float: left;
    width: 94%;
    height: 35px;
    font-family: calibri;
    font-size: 14px;
    color: #555555;
    padding: 0px 10px;
    border: none;
    border: 1px solid #ccc;
    background: #fafafa;
}
 
div.login-form ul.form li a:hover
{
    text-decoration: underline;
}
div.login-form ul.form li.submit-button
{
    float: left;
    width: 90%;
    margin: 10px 0px 20px 0px;
}
div.login-form ul.form li.submit-button input.submit-btn
{
    float: left;
    width: 100%;
    height: auto;
    padding: 5px 0px;
    color: #444;
    font-family: 'Lato' , sans-serif;
    border: none;
    background: #c0cf2f;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

/*----breadcrumbs-----*/
div.breadcrumbs
{
    float: left;
    width: 100%;
    min-height: 40px;
}
div.breadcrumbs p
{
    margin: 10px 0px 10px 30px;
}

/*----dashboard menu-----
div.dashboard-menu
{
    float: left;
    width: 22%;
    height: 100%;
    position: relative;
    z-index: 2;
}*/
/*----content-----*/
div.container .main
{ 
    width: 90%;
    height: 100%; margin:0 auto;margin-top:80px;
}
div.wrapper .inner
{
    float: left;
    width: 100%;
    min-height: 500px;
    padding: 0px 2% 5% 2%;
}
div.wrapper .inner h2.page-title
{
    font-size: 20px;font-weight:bold;
    margin: 0px 0px 10px 0px; margin-left:0%;margin-top:10px;
}
div.content-box
{
    float: left;
    width: 100%;
    min-height: 430px;
    
    box-shadow: 0px 0px 4px -2px #ccc;
    -moz-box-shadow: 0px 0px 4px -2px #ccc;
    -webkit-box-shadow: 0px 0px 4px -2px #ccc;
}

/*----dashboard form-----*/
div.content-box ul.dashboard-form
{
    float: left;
    width: 94%;
    min-height: 200px;
    padding:0;
}
div.content-box ul.dashboard-form li
{
    display: inline-block;
    float: left;
    width: 100%;padding-bottom:8px;
}
div.content-box ul.dashboard-form li label
{
    float: left;
    width: 14%;
    padding: 9px 0px;
    font-size: 13px;
    text-align: left;
    color: #444;
    margin: 0px 5px 0px 0px;
    font-weight: bold;
}
div.content-box ul.dashboard-form li input.text
{
    float: left;
    width: 40%;
    height: 25px;
    font-family: calibri;
    font-size: 14px;
    color: #555555;
    padding: 0px 10px;
    border: none;
    border: 1px solid #ccc;
    background: #fafafa;
}
div.content-box ul.dashboard-form li textarea
{
    float: left;
    width: 50%;
    min-height: 200px;
    resize: none;
    overflow: auto;
    border: 1px solid #ccc;
    background: #fafafa;
    padding: 0px 10px;
}
div.content-box ul.dashboard-form li div.add-button
{
    float: left;
    width: 90%;
    text-align: center;
}
div.content-box ul.dashboard-form li div.add-button input.add-btn
{
    width: auto;
    height: auto;
    padding:8px 10px;
    color: #444;
    font-family: 'Lato' , sans-serif;
    border: none;
    background: #c0cf2f;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    margin-top: 10px;
}
div.content-box ul.dashboard-form li div.add-button input.add-btn:hover
{
    background: #b7c629;
}

div.content-box ul.dashboard-form li div.add-button input.back
{
    background: #ccc;
    color: #000;
}
div.content-box ul.dashboard-form li div.add-button input.back:hover
{
    background: #e9e9e9;
}

div.content-box ul.dashboard-form li p.upload-txt
{
    font-size: 12px;
    color: #8A8A8A;
    margin: 0;
}
div.content-box ul.dashboard-form li select.dropdown-list
{
    height: 25px;
}

div.content-box ul.dashboard-form li p.view-text
{
    float: left;
    padding: 6px 0px;
    margin: 0;
}

div.content-box ul.dashboard-form li div.profpic
{
    float: left;
    width: 14%;
    min-height: 120px;
}
div.content-box ul.dashboard-form li div.profpic img
{
    width: 100%;
    height: auto;
    text-align: right;
    margin: 15px 0px 0px 0px;
}
div.content-box ul.dashboard-form li h4.name
{
    float: left;
    width: 78%;
    margin: 6% 1%;
    color: #2ac4ea;
}
div.content-box ul.dashboard-form li a.grid-btn
{
    float: left;
    width: 6%;
    text-align: right;
}
div.content-box ul.dashboard-form li a.grid-btn img
{
    width: 70%;
    height: auto;
    margin: 20% 0px;
}

/*----footer-----*/
div.footer {
    float: left;
    bottom: 0;
    background: #fff;
    width: 100%;
    /* background: #fff; */
    text-align: center;
    padding: 22px 0;
    color: #444;
    box-shadow: 2px -13px 7px -17px #727272;
    -moz-box-shadow: 2px -13px 7px -17px #727272;
    -webkit-box-shadow: 2px -13px 7px -17px #727272;
    z-index: 10;    padding-bottom: 10px;    text-indent: -200px;
}
div.footer p.copyright
{
    margin: 10px 0px 10px 0px; 
}

/*-----test-----
div.abs
{
    background: #2D3E4E none repeat scroll 0 0;
    bottom: 0;
    position: absolute;
    left: 0;
    top: 120px;
    width: 22%;
    z-index: 1;
}*/

/*-----table-----*/

div.search-select
{
    float: left;
    width: 94%;
    margin: 30px 3%;
}

table.explore-listing
{
    float: left;
    border-collapse: collapse;
    width: 94%;
    margin: 2% 3%;
}
table.explore-listing th
{
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}
table.explore-listing th a.inline-icon
{
    position: relative;
    top: 2px;
    left: 5px;
}
table.explore-listing th a.inline-icon img
{
    width: 12px;
    height: auto;
}
table.explore-listing td
{
    font-size: 12px;
    text-align: left;
    padding: 8px;
}
table.explore-listing td.action
{
    text-align: center;
}
table.explore-listing td.action a
{
    color: #2ac4ea;
}
table.explore-listing td.action a:hover
{
    text-decoration: underline;
}
table.explore-listing td.status
{
    text-align: center;
}
table.explore-listing td.status a img
{
    width: 20px;
    height: auto;
}
table.explore-listing tr:nth-child(even)
{
    background-color: #fff;
}
table.explore-listing th
{
    background-color: #00afab;
    color: #fff;
}
table.explore-listing img
{
    position: relative;
    top: 5px;
    width: 20px;
    height: auto;
    margin: 0px 5px 0px 0px;
}
p.note
{
    float: left;
    width: 94%;
    margin: 0% 3%;
    color: #444;
}

ul.legend
{
    float: left;
    width: 94%;
    margin: 10px 3%;
    color: #444;
}
ul.legend li
{
    list-style: none;
    display: inline-block;
    width: 16%;
}
ul.legend li img
{
    position: relative;
    top: 5px;
    width: 20px;
    height: auto;
    margin: 0px 5px 0px 0px;
}
ul.legend li:first-child
{
    width: 10%;
}
ul.legend li:last-child
{
    margin-left: 30px;
}

/*-----searchbar-----*/

div.search-box
{
    float: left;
    width: 30%;
    height: 30px;
    background: url(../images/search.png) no-repeat left top;
}
#tfnewsearch
{
    float: left;
    width: 100%;
    padding: 2px 0px;
}
div.search-box .tftextinput
{
    width: 65%;
    margin: 0;
    margin: 2px 5px;
    font-size: 14px;
    border: none;
}
div.search-box .tfbutton
{
    background: none;
    border: none;
    outline: none;
    width: 15%;
    margin: 0;
    padding: 5px 5px;
    cursor: pointer;
}
div.search-box .tfbutton:hover
{
}

/* Fixes submit button height problem in Firefox */
div.search-box .tfbutton::-moz-focus-inner
{
    border: 0;
}
div.search-box .tfclear
{
    clear: both;
}

::-webkit-input-placeholder
{
    font-size: 12px;
    color: #B4B4B4;
}
:-moz-placeholder
{
    font-size: 12px;
    color: #B4B4B4;
}
::-moz-placeholder
{
    font-size: 12px;
    color: #B4B4B4;
}
:-ms-input-placeholder
{
    font-size: 12px;
    color: #B4B4B4;
}
table.explore-listing tr th a
{
    color: #fff;
}
/*-----select box-----*/
div.select-box
{
    float: left;
    width: 30%;
    height: 30px;
}
table.explore-listing tr th img
{
    width: 16px;
    height: auto;
    margin: 0px 5px 0px 5px;
}
/*-----add categories-----*/
div.categories-list
{
    float: left;
    width: 100%;
}
div.categories-list ul.list-items
{
    float: left;
    width: 94%;
    padding: 2% 3%;
    margin: 0;
    min-height: 200px;
}
div.categories-list ul.list-items li
{
    float: left;
    background: #fff;
    width: 9%;
    margin: 1% 1%;
    padding: 0;
    list-style: none;
    display: inline-block;
    box-shadow: 0px 1px 2px 0px #ccc;
    -moz-box-shadow: 0px 1px 2px 0px #ccc;
    -webkit-box-shadow: 0px 1px 2px 0px #ccc;
}
div.categories-list ul.list-items li:hover
{
    background: #f8f8f8;
}
div.categories-list ul.list-items li a img
{
    width: 90%;
    height: auto;
    padding: 0px 5%;
}
div.categories-list ul.list-items li a p
{
    text-align: center;
}




div.content-box ul.dashboard-form table tr td {
    padding: 0;
    font-size: 9px;
    margin: 0;
    border: 0;
}















