﻿/* --------------------  Boxed notifications -------------------- */

.notification {
	display: block;
	padding: 20px 20px 20px 45px;
	border: 1px solid;
	margin-bottom: 20px;
	background-repeat: no-repeat;
	background-position: 20px 20px;
	}

.n-success {
	background-color: #a3e6bd;
	border-color: #68d59b;
	background-image: url(../images/notification-tick.gif);
	}

.n-information {
	background-color: #9fddea;
	border-color: #5fceea;
	background-image: url(../images/notification-information.gif);
	}

.n-attention {
	background-color: #f9e497;
	border-color: #ffcb4f;
	background-image: url(../images/notification-exclamation.gif);
	}

.n-error {
	background-color: #ffc6ca;
	border-color: #efb9c3;
	background-image: url(../images/notification-slash.gif);
	}
       
/* Lock Screen-related CSS Classes */
.LockOff
{
   visibility: hidden;
   display: none;
   position: absolute;
   top: -100px;
   left: -100px;
}
.LockBackground
{
   height: 200%;
   position: absolute;
   top: 0px;
   left: 0px;
   visibility: visible;
   display: block;
   width: 100%;
   height: 100%;
   background-color: #fff;
   z-index: 999;
   filter: alpha(opacity=75);
   opacity: 0.75;
   padding-top: 20%;
}

.LockPane
{
   z-index: 1000;
   position: absolute;
   top: 0px;
   left: 0px;
   padding-top: 25%;
   visibility: visible;
   display: block;
   text-align: center;
   border-radius: 10px;
   width: 100%;
}


.StatusMessage
{
    color: Red;
    font-size: 2.0em;
    font-weight: bold;
}


/*----------------------- Progress Bar -----------------------*/

.w3-progress-container
{
    width: 100%;
    height: 1.5em;
    position: relative;
    background-color: #f1f1f1;
    border: 3px solid #ddd;
}
.w3-progressbar
{
    background-color: #757575;
    height: 100%;
    position: absolute;
    line-height: inherit;
}

.w3-green, .w3-hover-green:hover
{
    color: #fff !important;
    background-color: #4CAF50 !important;
}

.percentClass
{
    font-size: 12px;
    padding: 45px;
}