* {
  box-sizing: content-box;          
}

#menu-btn{
	position: relative;
	float: left;
	margin-right: 15px;
	padding: 9px 10px;
	margin-top: 8px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	border-color: #333;
}

#menu-btn:hover{
	background-color: #333;
}

#menu-btn .icon-bar{
	background-color: #fff;
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
}
#menu-btn .icon-bar:not(:first-child){
	margin-top: 4px;
}

#menu-bar{
	background-color: #2d3e4e;
	color: #fff;
	z-index: 1002;
}
 
#menu-bar h3{
	background-color: #2E2E2E;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
}
 
#menu-bar .handle{
    background-color: #2d3e4e;
    right: -60px;
    padding: 4px;
    position: absolute;
    top: 0px;
    width: 60px;
    cursor: pointer;
  /*margin-top: -20px;*/
	/*-moz-transition: 200ms ease all;
	-webkit-transition: 200ms ease all;
  -o-transition: 200ms ease all;
  transition: 200ms ease all;*/    margin-top: 0px;
}
#menu-bar .handle:hover{
  /*left: -46px;
  width: 30px;*/
}
#download-bar{
	background-color: #E6E6E6;
	padding: 10px;
	box-shadow: -10px 0 15px -6px #585858 inset;
}

#download-bar div.well{
	margin-top: 10px;
}

.side-panel{
	background-color: #E6E6E6;
	padding: 10px;
}

.side-panel-left{
	box-shadow: -5px 0 15px -6px #585858 inset;
}
.side-panel-left-overlay{
	box-shadow: -10px 0 15px 10px #585858;
}
.side-panel-right{
	box-shadow: 5px 0 15px -6px #585858 inset;
}

.jumbotron{
	margin-bottom: 0px;
}

.navbar{
	border-radius: 0px;
	margin-bottom: 0px;
}

section{
	padding-top: 20px;
}

section:last-child{
	margin-bottom: 30px;
}
#sample-1-btn{
	margin-bottom: 10px;
}

#sample-1 .panel{
	margin-top: 10px;
}

footer{
	padding: 20px;
	margin-top: 30px;
	background-color: #eee;
	color: #333;
	border-top: 1px #ccc solid;
}