﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="AdminMaster.master.cs"
    Inherits="KochiMetro.AdminMaster" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Kochi Metro Rail Limited</title>
    <link type="text/css" rel="stylesheet" href="/css/style.css" />
    <link type="text/css" rel="stylesheet" href="/Styles/styles.css" />
    <style>
        body
        {
            overflow-x: hidden;
        }
        .mainNav
        {
            width: 100%;
        }
        .mainNav ul
        {
            margin: 0;
            padding: 0;
            list-style: none;
            border-bottom: 1px solid #444;
        }
        .mainNav ul li
        {
            border-top: 1px solid #444;
        }
        .mainNav ul li a
        {
            color: #FFFFFF;
            display: block;
            font-size: 1.1em;
            line-height: normal;
            padding: 12px 20px;
            text-decoration: none;
        }
        .mainNav ul li a:hover
        {
            background: #263643;
            text-decoration: none;
        }
        .mainNav ul ul
        {
            border-bottom: none;
        }
        .mainNav ul ul li
        {
            border-top: 1px solid #263643;
        }
        .mainNav ul ul li a
        {
            color: #FFFFFF;
            display: block;
            font-size: 1em;
            line-height: normal;
            padding: 0.5em 1em 0.5em 2.5em;
        }
        .mainNav ul ul li a:hover
        {
            background: #263643;
        }
        .mainNav ul ul ul
        {
            border-top: 1px solid #263643;
        }
        .mainNav ul ul ul li
        {
            border: none;
        }
        .mainNav ul ul ul li a
        {
            padding-left: 3.5em;
            padding-top: 0.25em;
            padding-bottom: 0.25em;
        }
        ul li.has-subnav .accordion-btn
        {
            color: #fff;
            font-size: 16px;
            padding-top: 10px;
        }
        .accordion
        {
            width: 100%;
            max-width: 360px;
            margin: 0px auto 20px;
            background: #2d3e4e;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
        }
        .accordion .link
        {
            cursor: pointer;
            display: block;
            padding: 15px 15px 15px 42px;
            color: #fff;
            font-size: 14px;
            font-weight: 700;
            border-bottom: 1px solid #273644;
            position: relative;
            -webkit-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            transition: all 0.4s ease;
            background: #2d3e4e;
        }
        .accordion .link a
        {
            color: #fff;
        }
        .accordion li:last-child .link
        {
            border-bottom: 0;
        }
        .accordion li i
        {
            position: absolute;
            top: 16px;
            left: 0px;
            font-size: 18px;
            color: #fff;
            -webkit-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            transition: all 0.4s ease;
        }
        .accordion li img.vs9u
        {
            right: 22px;
            left: auto;
            font-size: 16px;
            float: right;
        }
        .accordion li.open .link
        {
            color: #fff;
        }
        .accordion li.open img.vs9u
        {
            color: #fff;
        }
        .accordion li.open img.vs9u
        {
            -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg);
        }
        /** * Submenu -----------------------------*/.submenu
        {
            display: none;
            font-size: 14px;
        }
        .submenu li
        {
            border-bottom: 1px solid #273644;
        }
        .submenu a
        {
            display: block;
            text-decoration: none;
            color: #fff;
            padding: 12px;
            padding-left: 42px;
            -webkit-transition: all 0.25s ease;
            -o-transition: all 0.25s ease;
            transition: all 0.25s ease;
        }
        .submenu a:hover
        {
            color: #FFF;
        }
        .logout
        {
            float: right;
        }
    </style>
    <link href="/asset/css/index.css" rel="stylesheet">
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <%--  <asp:ScriptManager ID="ScriptManager1" runat="server" >
    </asp:ScriptManager>--%>
    <asp:ToolkitScriptManager ID="ToolkitScriptManager1" runat="server">
    </asp:ToolkitScriptManager>
    <div class="header">
        <div class="wrapper">
            <div class="right-menu" style="width: 300px; padding-top: 0; margin-top: -20px;">
                <p class="welcome-msg" style="text-align: right; float: right;">
                    <asp:Label ID="lblName" runat="server" Text="" Font-Bold="true"></asp:Label>
                    <br />
                    <asp:Label ID="lblDate" Text="" runat="server" /><br />
                    <asp:LinkButton ID="btnLogOut" runat="server" CausesValidation="False" OnClick="btnLogOut_Click"
                        Font-Bold="true">Logout</asp:LinkButton></p>
            </div>
            <a class="logo" href="/admin/Dashboard.aspx">
                <img src="/images/logo.png"></a>
        </div>
    </div>
    <div class="container">
        <div class="wrapper main">
            <div class="container inner" style="background: url(/asset/kmrvs.png) no-repeat center center fixed;
                -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;
                background-size: cover;">
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
            </div>
            <div class="abs">
            </div>
        </div>
    </div>
    <div class="footer" style="text-align: center;">
        <img src="/images/axis-bank-vs.png" style="float: left; margin: 0px; margin-left: 50px;
            margin-top: -10px;">
        Copyright 2016
        <%--NXG Labs--%>. All rights reserved.
    </div>
    <div id="menu-bar">
        <div class="handle">
            <img src="/asset/menuvs.png">
        </div>
        <div class="dashboard-menu">
            <ul id="accordion" class="accordion">
                <li>
                    <div class="link">
                        <a href="/admin/Dashboard.aspx">Dashboard</a></div>
                </li>
                <li>
                    <div class="link">
                        <a href="/admin/UserMgmt.aspx">App User Management</a></div>
                </li>
                <li>
                    <div class="link">
                        Explore Kochi
                        <img src="/asset/downvs.png" class="vs9u" /></div>
                    <ul class="submenu">
                        <li><a href="/admin/EntryDetails.aspx">View Details & Status</a></li>
                        <li><a href="/admin/ExploreKochiCetegories.aspx">Add Data</a></li>
                        <li><a href="/admin/BulkUpload.aspx">Manage Bulk Data</a></li>
                    </ul>
                </li>
                <li>
                    <div class="link">
                        Offers and Promotions
                        <img src="/asset/downvs.png" class="vs9u" /></div>
                    <ul class="submenu">
                        <li><a href="/admin/OffersPromotion.aspx">View Details & Status</a></li>
                        <li><a href="/admin/AddOffersPromotion.aspx">Add Data</a></li>
                    </ul>
                </li>
                <li>
                    <div class="link">
                        Portal User Management<img src="/asset/downvs.png" class="vs9u" />
                    </div>
                    <ul class="submenu">
                        <li><a href="/admin/AddAdmin.aspx">Add User</a></li>
                        <li><a href="/admin/ManageMaker.aspx">Manage Makers</a></li>
                        <li><a href="/admin/ManageChecker.aspx">Manage Checkers</a></li>
                        <li><a href="/admin/ManageSuperChecker.aspx">Manage Super checkers</a></li>
                        <li><a href="/admin/SetPrivilege.aspx">Set Privileges</a></li>
                    </ul>
                </li>
                <li>
                    <div class="link">
                        <a href="#">Notifications</a></div>
                </li>
            </ul>
        </div>
    </div>
    <script src="/asset/js/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script>
        $(function () {
            var Accordion = function (el, multiple) {
                this.el = el || {};
                this.multiple = multiple || false;

                // Variables privadas
                var links = this.el.find('.link');
                // Evento
                links.on('click', { el: this.el, multiple: this.multiple }, this.dropdown)
            }

            Accordion.prototype.dropdown = function (e) {
                var $el = e.data.el;
                $this = $(this),
			$next = $this.next();

                $next.slideToggle();
                $this.parent().toggleClass('open');

                if (!e.data.multiple) {
                    $el.find('.submenu').not($next).slideUp().parent().removeClass('open');
                };
            }

            var accordion = new Accordion($('#accordion'), false);
        });
    </script>
    <script src="/asset/js/bootstrap.min.js"></script>
    <script src="/asset/js/jquery.slidereveal.js"></script>
    <script src="/asset/js/prettify.js"></script>
    <script type="text/javascript">
      $(function(){
        prettyPrint();

        $("#menu-bar a").click(function(){
          var id = $(this).attr("href").substring(1);
          $("html, body").animate({ scrollTop: $("#"+id).offset().top }, 1000, function(){
            $("#menu-bar").slideReveal("hide");
          });
        });

        var slider = $("#menu-bar").slideReveal({
          // width: 100,
          push: false,
          position: "left",
          // speed: 600,
          trigger: $(".handle"),
          // autoEscape: false,
          shown: function(obj){
            obj.find(".handle").html('<img src="/asset/menuvs.png">');
            obj.addClass("left-shadow-overlay");
          },
          hidden: function(obj){
            obj.find(".handle").html('<img src="/asset/menuv.png">');
            obj.removeClass("left-shadow-overlay");
          }
        });
        $("div.wrapper .inner").click( function(){
             
            $("#menu-bar").slideReveal("hide");
            });
        $("#download-bar").slideReveal({
          position: "left",
          trigger: $("#download-btn")
        });
   
        var sample1 = $("#sample-1").slideReveal({
          trigger: $("#sample-1-btn")
        })
        $("#show-manually").click(function(){
          sample1.slideReveal("show");
        });
        $("#hide-manually").click(function(){
          sample1.slideReveal("hide");
        });
        $("#toggle-manually").click(function(){
          sample1.slideReveal("toggle");
        });

        $("#sample-2").slideReveal({
          trigger: $("#sample-2-btn"),
          position: "right"
        });

        $("#sample-3").slideReveal({
          trigger: $("#sample-3-btn"),
          push: false,
          overlay: true
        });

        $("#sample-4").slideReveal({
          trigger: $("#sample-4-btn"),
          autoEscape: false,
          width: 500,
          // speed: 700
        });
        $("#sample-5").slideReveal({
          trigger: $("#sample-5-btn"),
          shown: function(slider){
            alert("After opened!");
          },
          hidden: function(slider){
            alert("After closed!");
          },
          show: function(slider){
            alert("Before open!");
          },
          hide: function(slider){
            alert("Before close!");
          }
        });
      });
    </script>
    </form>
</body>
</html>
