﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="messages.ascx.cs" Inherits="KochiMetro.Messages" %>
<link href="/Styles/styles.css" rel="stylesheet" type="text/css" />

<asp:Panel ID="mypanel" runat="server" Visible="true">


    <asp:Label ID="Label1" runat="server" CssClass="lblm"></asp:Label>
    <asp:Label ID="message" runat="server" Text=""></asp:Label>
    
</asp:Panel>
